.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
  }
.forgot-password{
    color: #2A3B7F;
}

.forgot-password:hover{
    color: #2A3B7F;
    text-decoration: underline;
}
