/* @import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
 */


 .searcHeader{
  display: flex;
  justify-content: flex-end;
 }

 .form-group{
  display: flex;
  flex-direction: column;
 }
 .form-groupp{
  display: flex;
 }

 .closeBtn{
  display: flex;
  justify-content: flex-end;
 }


 .addCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22px;
  padding: 0%;
 }

 .tableCard{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 22px;
  padding: 0%;
 }
