/* @import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
 */

 .searcHeader{
  display: flex;
  justify-content: flex-end;
 }

 .resultFormHead{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0%;
 }

 .form-group{
  display: flex;
  flex-direction: column;
 }

 .headerList{
  display:  flex;
  justify-content: flex-end;
 }

 .addButton{
  margin-left: 90%;
 }

 .footerConfirm{
  display: flex;
  justify-content: space-around;
 }


