<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
 -->
<!--
<div class="grafico">
  <iframe title="graficosBS" width="100%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNmU5NDQ4MjQtZGM2ZS00NDczLTkwNTctNWFjNjI1NTZkNjllIiwidCI6IjdiNWNiZGU0LTI2N2YtNDVmOS05ZWYyLThlOTZmNTViNWFkMSIsImMiOjl9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="grafico">
  <iframe title="graficosBS" width="100%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNmU5NDQ4MjQtZGM2ZS00NDczLTkwNTctNWFjNjI1NTZkNjllIiwidCI6IjdiNWNiZGU0LTI2N2YtNDVmOS05ZWYyLThlOTZmNTViNWFkMSIsImMiOjl9&pageName=ReportSection3831af1fb2b19ac53946" frameborder="0" allowFullScreen="true"></iframe>
</div> -->


<div class="grafico">
  <iframe title="graficosBS" width="49%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiYmQxN2Y4ZWYtMTkyMy00MTE0LWI1ZTUtZGE4ZGJjNmMxZTFkIiwidCI6IjdiNWNiZGU0LTI2N2YtNDVmOS05ZWYyLThlOTZmNTViNWFkMSIsImMiOjl9&pageName=ReportSection333074df0b843166610d" frameborder="0" allowFullScreen="true"></iframe>
  <iframe title="graficosBS" width="49%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNTZmMjMwMGEtMTJiMS00OTNjLWEyZTgtM2E0NzNjZmI3YTM2IiwidCI6IjdiNWNiZGU0LTI2N2YtNDVmOS05ZWYyLThlOTZmNTViNWFkMSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="grafico">
  <iframe title="Stock - STOCK" width="49%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiOTUwMDExYjEtMzRmYS00YzlhLTliMTEtZGM2OGRmMDI5ZmJjIiwidCI6IjdiNWNiZGU0LTI2N2YtNDVmOS05ZWYyLThlOTZmNTViNWFkMSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
</div>
